<div class="a row gap-2 text-center">
    <div class="col-md-2">
        <button routerLink="/usuarios"class="btn btn-primary btn-lg btn-block" type="button" name="button">Administrador</button>
    </div>
    <div class="col-md-2">
        <button routerLink="compras" class="btn btn-primary btn-lg btn-block" type="button" name="button">Compras</button>
    </div>
    <div class="col-md-2">
        <button routerLink="ventas" class="btn btn-primary btn-lg btn-block" type="button" name="button">Ventas</button>
    </div>
    <div class="col-md-2">
        <button routerLink="contador" class="btn btn-primary btn-lg btn-block" type="button" name="button">Contador</button>
    </div>
    <div class="col-md-2">
        <button routerLink="/" class="btn btn-primary btn-lg btn-block" type="button" name="button">Limpiar</button>
    </div>
</div>
